@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    margin: 0;
    padding: 16px 196px 160px;
    gap: 128px;
}

.header {
    display: flex;
    align-items: center;
}
.logo {
    font-size: 32px;
    font-weight: bold;
    color: #f9faf8;
    margin-right: auto;
}
.nav{
    display: flex;
    gap: 24px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 24px;
    font-weight: lighter;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.hero-text-content {
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 640px;
    justify-content: center;
}

.hero-heading {
    font-size: 56px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.hero-para {
    color: #e5e7eb;
    font-size: 24px;
    font-weight: 300;
}
.sign-up {
    align-self: flex-start;
    padding: 10px 40px;
    color: #f9faf8;
    background-color: #3882f6;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px 0 56px;
}

.gallery-title {
    font-size: 42px;
    font-weight: 900;
    color: #1f2937;
}
.gallery-content {
    display: flex;
    gap: 40px;
}
.gallery-item {
    display: flex;
    flex-direction: column;
    flex: 0 1 240px;
}

.gallery-text{
    font-size: 24px;
    color: #a4a4aa;
    text-align: center;
}

.gallery-image {
    border-radius: 16px;
    border-color: #3882f6;
    border-style: solid;
    border-width: 4px;
}



